.FRAMECOUNT
        {
            
            text-align: center;
            left:50%;
            width: 500px;
            height: 100px;
            margin-left: -250px;
            margin-top: -50px;
            display: block;
            position: fixed;
            font-size: 100px;
            top: 80%;
            text-shadow: -1px -1px 0 #1a7ce2, 1px -1px 0 #1a7ce2, -1px 1px 0 #1a7ce2, 1px 1px 0 #1a7ce2;
        }
        a {
            color: white;
        }
        .v1 {
            position: fixed;
            bottom: 10;
            right: 10;
            text-align: right;
        }
        .play {
            position: fixed;
            top: 200px;
            left: 10px;
        }
        .pause {
            position: fixed;
            left: 150px;
            top: 200px;
        }
        .f1 {
            position: fixed;
            top: 250px;
            left: 10px;
        }
        .fm1 {
            position: fixed;
            left: 150px;
            top: 250px;
        }   
        .f15 {
            position: fixed;
            top: 300px;
            left: 10px;
        }
        .fm15 {
            position: fixed;
            left: 150px;
            top: 300px;
        }
        .f5s {
            position: fixed;
            top: 350px;
            left: 10px;
        }
        .fm5s {
            position: fixed;
            left: 150px;
            top: 350px;
        }
        .tost {
            position: fixed;
            top: 400px;
            left: 10px;
        }
        .tond {
            position: fixed;
            left: 150px;
            top: 400px;
        }
        .keybinds {
            position: fixed;
            top: 515px;
            left:10px;
        }
        .stnd
        {
            
            text-align: center;
            left:50%;
            width: 500px;
            height: 100px;
            margin-left: -250px;
            margin-top: -50px;
            display: block;
            position: fixed;
            top: 75%;
            text-shadow: -1px -1px 0 #1a7ce2, 1px -1px 0 #1a7ce2, -1px 1px 0 #1a7ce2, 1px 1px 0 #1a7ce2;
        }
        .seg {
            position: fixed;
            top: 100px;
            left: 10px;
        }
        .st
        {
            
            width: 300px  !important;
            height: 50px !important;
            font-size: 40px !important;
            position: fixed;
            left:80%;
            top: 20%;
        }
        .nd
        {
            
            width: 300px  !important;
            height: 50px !important;
            font-size: 40px !important;
            position: fixed;
            left:80%;
            top: 50%;
        }
        @font-face {
            font-family: hyliaserif;
            src: url(HyliaSerifBeta-Regular.otf);
        }
        /* .log {
            position: fixed;
            right: 10;
            text-align: right;
        } */
        .yt 
        {
            position: fixed;
            top: 50px;
            left: 10px;
        }
        #url 
        {
            margin: 4px 2px;
            padding: 5px;
            position: fixed;
            left: 175px;
            border-color: #1a7ce2;
            font-size: 15px;
            border-radius: 10px;
            height: 30px;
            top: 50px;
        }
        .button{
            font-size: 16px;
            font-family: 'hyliaserif';
            height: 20px;
            background-color: #c9b783;
            border: none;
            color: white;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            position: fixed;
        }
        .fopen {
            top: 10px;
            bottom: 10px;
        }

        #ct {
            text-align: center;
            left: 50%;
        }
        
        body {
            font-family: 'hyliaserif';
            color: white;
            background-image: url('background.png');
        }

     

        @keyframes scroll {
            from {
                left: 0%;
            }

            to {
                left: 100%;
            }
        }

        video {
            display: block;
            background-color: rgba(100, 100, 100, .7);
            top: 50%;
            left: 50%;
            margin-top: -400px;
            margin-left: -500px;
            width: 1000px;
            height: 563px;
            position: fixed;
        }
